/* @settings

name: Numerals
id: numerals-style
settings:
    - 
        id: numerals-font
        title: Numerals block font
        description: Font used for Numerals block. Default is same as a code-block
        type: variable-text
        default: ''
    - 
        id: numerals-size
        title: Numerals block font size
        description: Accepts an CSS font-size value. Default is same as a code-block
        type: variable-text
        default: ''
*/

body {
    --entities-font: var(--font-editor);
    --entities-size: var(--font-adaptive-normal);
}

/***************************/
/* ** Suggestion Style ** */

.entities-suggestion {
    font-family: var(--entities-font);
    font-size: var(--entities-size);
}

.entities-suggestion.suggestion-item {
    padding: var(--size-2-1) var(--size-2-1) var(--size-2-1) 0;
}

.entities-suggestion.suggestion-item.mod-complex .suggestion-aux .suggestion-flair {
		margin: 0 var(--size-4-1) 0 0;
	}
