/* @settings

name: Numerals
id: numerals-style
settings:
    - 
        id: numerals-font
        title: Numerals block font
        description: Font used for Numerals block. Default is same as a code-block
        type: variable-text
        default: ''
    - 
        id: numerals-size
        title: Numerals block font size
        description: Accepts an CSS font-size value. Default is same as a code-block
        type: variable-text
        default: ''
*/

body {
	--entities-font: var(--font-editor);
	--entities-size: var(--font-adaptive-normal);
}

/***************************/
/* ** Suggestion Style ** */
/***************************/

.entities-suggestion {
	font-family: var(--entities-font);
	font-size: var(--entities-size);
}

.entities-suggestion.suggestion-item {
	padding: var(--size-2-1) var(--size-2-1) var(--size-2-1) 0;
}

.entities-suggestion.suggestion-item.mod-complex
	.suggestion-aux
	.suggestion-flair {
	margin: 0 var(--size-4-1) 0 0;
}

.setting-item-control input:disabled {
	/* background-color: var(--internal-light-dark); */
	color: var(--text-faint);
}

/**********************/
/* ** Entites Settings ** */
/**********************/

.entities-settings.suggestion-popover, .entities-settings.suggestion-container  {
	top:4px !important;
	left:-2px !important;
    /* z-index: var(--layer-notice); */
}

/**********************/
/* ** Icon Picker Modal ** */
/**********************/
.icon-grid {
	display: grid;
    grid-template-columns: repeat(auto-fill, 35px); /* Fixed width of 35px for each item */
    gap: 10px; /* This is the initial gap. */
    justify-content: space-between; /* This spreads out the items to use the available space, adjusting the gap as necessary. */
	padding: 10px; /* Padding around the grid */
	overflow-y: auto; /* Scroll if content is too tall */
	max-height: 400px; /* Adjust based on modal size */
}

.icon-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 7px;
	border: 1px solid transparent; /* Border color */
	border-radius: 4px; /* Rounded corners */
}

.icon-item:hover {
	background-color: var(
		--background-modifier-hover
	); /* Hover background color */
	border-color: var(
		--background-modifier-border-hover
	); /* Hover border color */
}

.icon-name {
	font-size: 0.6em; /* Adjust font size as needed */
	text-align: center;
	color: var(--text-muted); /* Text color */
	word-break: break-word; /* Ensure long names do not overflow */
}

.icon-svg {
	width: 24px; /* Adjust the size as needed */
	height: 24px; /* Adjust the size as needed */
	/* fill: currentColor; Icon color, can use CSS variables for theming */
}

/**********************/
/*    ** Modals **    */
/**********************/
.modal.entities-wide-modal {
	--dialog-width: 650px;
}

.setting-item-label {
    color: var(--text-muted);
    font-size: var(--font-ui-smaller);
    padding-top: var(--size-4-1);
    line-height: var(--line-height-tight);
}

.notice.entities-notice {
	display: flex;
	gap: 0.75em;
	align-items: center;
}

.notice .entities-notice-icon {
	display: flex;
}

